<nav class="navbar navbar-dark bg-primary navbar-expand-lg border-bottom shadow">
    <div class="container-fluid">
        <button (click)="toggled()" class="btn btn-primary d-sm-none d-md-block" id="sidebarToggle"><i class="fas fa-bars"></i></button>
        <button class="navbar-toggler ml-auto d-block d-lg-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button><div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0 d-block d-lg-none">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" [routerLink]="['/admin']" routerLinkActive="router-link-active"><i class="fas fa-columns"></i> Panel</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" [routerLink]="['/admin/users']" routerLinkActive="router-link-active"><i class="fas fa-id-card"></i> Usuarios</a>
            </ul>
        </div>
    </div>
</nav>