*{
    color: beige;
    
}
p, a{
    position: relative;
}
p{
    top: 30%;
}
a{
    top: 20%;
}

img.prueba{
    height: 120px;
    padding: 10px 20px;
}

img.nombre{
    width: 80%;
}
header.container-fluid{
    background-color: #ffecf4;

}