<header class=" container-fluid d-none d-lg-block ">
    <div class="row">
        <div class="col-3 ">
            <img src="/assets/img/logos/palm1.png" alt="" class="prueba rounded float-start">
        </div>
        <div class="col-6 text-center ">
            <img src="/assets/img/logos/nombre.png" alt="" class="nombre rounded">
        </div>
        <div class="col-3 text-right ">
            <img src="/assets/img/logos/palm2.png" alt="" class=" prueba rounded float-end">
        </div>
    </div>
</header>
<div class="container-fluid text-center " style="background-color: #68686988;">
    <div class="d-flex text-center">
        <div class="text-center">
            Página creada para proyecto, si has llegado aquí por algún motivo, te pido una disculpa, ¡ten un buen día!
        </div>
    </div>
</div>