<header class=" container-fluid d-none d-lg-block ">
    <div class="row">
        <div class="col-3 ">
            <img src="/assets/img/logos/palm1.png" alt="" class="prueba rounded float-start">
        </div>
        <div class="col-6 text-center ">
            <img src="/assets/img/logos/nombre.png" alt="" class="nombre rounded">
        </div>
        <div class="col-3 text-right ">
            <img src="/assets/img/logos/palm2.png" alt="" class=" prueba rounded float-end">
        </div>
    </div>
</header>
<div class="container-fluid " style="background-color: #68686988;">
    <div class="d-flex justify-content-between">
        <div>
            <p>
                Gastos de envio GRATUITOS en todos tus envios</p>
        </div>
        <div class="d-none d-lg-block ">
            <div class="d-flex flex-row-reverse ">
                <a class="nav-link active" href="#">Active link</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link disabled" href="#">Disabled link</a>
            </div>
        </div>
    </div>
</div>