<div class="container" *ngIf="!loading">
    <div class="container d-none d-md-block d-lg-block d-xl-block ">
        <shop-carousel-items [items]="items"></shop-carousel-items>
    </div>

    <div class="container background rounded padding-xl margin-xl">
        <app-product-category-list
        [title]="'Vestidos'"
        [productsList]="listOne"
        ></app-product-category-list><app-product-category-list
        [title]="'Por menos de $150'"
        [productsList]="listTwo"
        ></app-product-category-list><app-product-category-list
        [title]="'Conjuntos'"
        [productsList]="list3"
        ></app-product-category-list>
    </div>

    <br><br><br>
</div>