<footer>
    <div class="fixed-bottom sticky-sm-bottom " style="background-color: #35363a;">
        <form class="d-flex d-none d-lg-block  ">
            <a class="float-left" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.google.com%2Fmaps%2Fdir%2F%3Fapi%3D1%26destination%3D20.722677%252C-103.39228%26fbclid%3DIwAR26gT2H6JKXLqoSONF_nLe81SHxtc3mvZLCFGAA9peKezGta8yUstVgaDs&h=AT35ccZ3xYBZqBmaoLebpQxOy9-TD7Vs9gU4qmBqSYqvzJ38MItx155YdSInnPckBy4_ydXdRkKWQQOi3aeEUq5fobGTZiyypbz7KayZEUE38AN9q1z2br68V8DMzh1UJlv2_Mm3lPoXiQu-Y34jew" target="_blank">
                <i class="fas FootPad fa-map-marked-alt fa-2x redesIcons"  style="color:azure"></i>
            </a>
            <a class="float-left" href="https://www.facebook.com/greaser247" target="_blank">
                <i class=" FootPad fab fa-facebook-square fa-2x redesIcons" style="color:azure"></i>
            </a>
            <a class="float-left" href="https://wa.me/523311137753?text=Hola%20me%20interesan%20tus%20productos"target="_blank">
                <i class="fab FootPad fa-whatsapp fa-2x redesIcons" style="color:azure"></i>
            </a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item d-block d-lg-none">
                    <a href="{% url 'carrito_cel' %}">
                        <i class="fas fa-cart-arrow-down fa-2x redesIcons" style="color:azure"></i>
                    </a>
                </li>
            </ul>
        </form><div class="container text-center">
            <address>
                <p>Greaser 2021 - ¡¡¡¡ Suave !!!!</p>
            </address>
            
        </div>
    </div>
</footer>