<div class="container">
    <button class="btn btn-primary float-right mb-2" (click)="manageAction('add', '')"> Añadir</button>
    <select
            class="custom-select float-right mr-3 mb-2"
            style="width: auto;"
            [(ngModel)]="filterActiveValues"
            (ngModelChange)="loadData()"
            >
            <option [ngValue]="'ALL'">Todos</option>
            <option [ngValue]="'ACTIVE'">Activos</option>
            <option [ngValue]="'INACTIVE'">Inactivos</option>
    </select>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" *ngFor="let column of tableColumns">{{column.label}} </th>
                    <th scope="col" >Gestion de información </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of data$ | async">
                    <td class="delgado" scope="row" *ngFor="let val of tableColumns">
                        <span *ngIf="val.property != 'active'; else activeValue">
                            {{ data[val.property] }}
                        </span>
                        <ng-template #activeValue>
                            <span *ngIf="data[val.property] == true"> Inactivo </span>
                            <span *ngIf="data[val.property] != true">  Activo</span>
                        </ng-template>
                    </td>
                    <td>
                        <button class="btn btn-primary mb-1" (click)="manageAction('edit', data)"> Editar</button>&nbsp;
                        <button class="btn btn-info  mb-1" (click)="manageAction('info', data)"> Info</button>&nbsp;
                        <button
                            type="button"
                            class="btn btn-danger"
                            (click)="manageAction('block', data)"
                            *ngIf="data['active'] != false; else unblockBtn"
                        >
                            <i class="fas fa-lock"></i>
                        </button>
                        <ng-template #unblockBtn>
                            <button
                            type="button"
                            class="btn btn-danger"
                            (click)="manageAction('unblock', data)"
                            >
                            <i class="fas fa-lock-open"></i>
                            </button>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-between p-2" *ngIf="infoPage.pages > 1">
        <ngb-pagination 
            [collectionSize]="infoPage.total" 
            [(page)]="infoPage.page" 
            (pageChange)="pageChange()"
            [pageSize]="infoPage.ItemsPage"
        >
        </ngb-pagination>
        <select class="custom-select" style="width: auto" 
        [(ngModel)]="infoPage.ItemsPage" 
        (ngModelChange)="loadData()">
            <option [ngValue]="5">5 por pagina</option>
            <option [ngValue]="10">10 por pagina</option>
            <option [ngValue]="15">15 por pagina</option>
        </select>
    </div>
</div>
