<div class="container">
    <div class="row">
        <div class="col-lg"></div>
        <div class="col-lg-6">
            <form (ngSubmit)="add()" #forma="ngForm">
            <h1>Registro de usuario</h1>
            <p>
                Rellena el formulario para registrarte cómo usuario.
            </p>
            <hr />
            <label for="name"><b>Nombre</b></label>
            <input
                type="text"
                placeholder="Introduzca su nombre"
                name="name"
                #name="ngModel"
                [(ngModel)]="register.name"
                class="form-control"
                [ngClass]="{'is-valid': name.valid, 'is-invalid': name.invalid}"
                required
            />
            <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name.errors.required">
                ingrese su nombre
                </div>
            </div>
            <label for="lastname"><b>Apellido / s</b></label>
            <input
                type="text"
                placeholder="Introduzca su apellido/s"
                name="lastname"
                #lastname="ngModel"
                [(ngModel)]="register.lastname"
                class="form-control"
                [ngClass]="{'is-valid': lastname.valid, 'is-invalid': lastname.invalid}"
                required
            />
            <div class="alert alert-danger" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
                <div *ngIf="lastname.errors.required">
                Ingrese su apellido
                </div>
            </div>
            <label for="email"><b>Fecha de nacimiento</b></label>
            <app-date-picker-legal-age
                (newDate)="dataAsign($event)"
            ></app-date-picker-legal-age>
            <label for="email"><b>Email</b></label>
            <input
                type="text"
                placeholder="Usuario@gmail.com"
                name="email"
                #email="ngModel"
                [(ngModel)]="register.email"
                class="form-control"
                [ngClass]="{'is-valid': email.valid, 'is-invalid': email.invalid}"
                [pattern]="rexEmail"
                required
            />
            <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors.required">
                Ingrese su correo
                </div>
                <div *ngIf="email.errors.pattern">
                El correo ingresado no contiene el formato correcto, por favor introduzca un correo con el siguiente formato [usuario]@[dominio].[com]
                </div>
            </div>
    
            <label for="password"><b>Password</b></label>
            <input
                type="password"
                placeholder="Introduzca la contraseña"
                name="password"
                #password="ngModel"
                [(ngModel)]="register.password"
                class="form-control"
                [pattern]="rexPassword"
                [ngClass]="{'is-valid': password.valid, 'is-invalid': password.invalid}"
                required
            />
            <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors.required">
                Ingrese una contraseña por favor
                </div>
                <div *ngIf="password.errors.pattern">
                    La contraseña debe de contener al menos 8 caracteres, en los cuales deberá ingresar al menos 1 mayúscula, 1 minúscula y 1 número. 
                </div>
            </div>
            <br>
            <br>
            <p>
                ¿Ya tiene una cuenta?
                <a [routerLink]="['/login']" style="color: dodgerblue;"
                >Iniciar sesión</a
                >.
            </p>
            <div class="row">
                <div class="col-lg">
                <button [disabled]="forma.invalid" type="submit" class="signup-btn">Registrarse</button>
                </div>
            </div>
            </form>
        </div>
    
        <div class="col-lg"></div>
    </div>
</div>

<br>
<br>
<br>
<br>
