/*************************************
*
*  COLORES PARA ADMIN
*
*************************************/

$admin-primary-color: #35363a !important;
$admin-secondary-color: #18243b !important;

/*************************************
*
*  COLORES PARA PUBLIC
*
*************************************/


/*************************************
*
*  COLORES VARIOS
*
*************************************/

$rosa-greaser: rgba(255, 184, 214, 0.781);
$rosa-greaser-minus: rgba(250, 189, 214, 0.644);